#evento{
	position: absolute;
	left: 45px;
	top: 190px;
	font-size: 130px;
}

#nombreContainer{	
	position: absolute;
	left: 50px;
	top: 315px;
	width: 730px;
	height: 235px;
	font-size: 70px;
	border: 1px solid black;
}