link(href='/stylesheets/bootstrap/bootstrap.css', rel='stylesheet')
link(href='/stylesheets/own/credentialStyle.css', rel='stylesheet')

body
	#credentialContainer
		img(src='images/credentialBase.png')
		label#evento	EXPOBÁTIZ
		.text-center#nombreContainer
			.container	Daniel Arturo Rodriguez Rosas