link(href='/stylesheets/bootstrap/bootstrap.css', rel='stylesheet')
link(href='/stylesheets/own/credentialStyle.css', rel='stylesheet')

body
	#credentialContainer
		img(src='images/credentialBase.png')
		div#eventName= eventName
		div#partakerName= name
		div#partakerMail= mail