extends layout

block content
  div.container
    h2.centered-text ¡Hola!

block exclusive-scripts
  //for development. We use local scripts
  script(src='javascripts/angular/angular.min.js')
  script(src='javascripts/jquery/jquery.min.js')