extends organiser_layout

block exclusive-stylesheets

block content
	.container-fluid{clear:both}
		.row-fluid
			.span3
				ul.(class='nav nav-list')
					li.nav-header	Pre-registros
					li.active
						a(href='#')	Listado 
					li
						a(href='#1')	Buscar
					li
						a(href='#2')	Eliminar
			.span9

block exclusive-scripts