doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    title Echo-bravo-event
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    block stylesheets
    link(href='/stylesheets/bootstrap/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap/responsive.css', rel='stylesheet')
    block exclusive-stylesheets

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src='../assets/js/html5shiv.js'></script>
    <![endif]-->

  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          button(class='btn btn-navbar', data-target='.nav-collapse', data-toggle='collapse', type='button')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Echo-bravo-Luis
          div.nav-collapse.collapse
            p.navbar-text.pull-right Logged in as 
              a.navbar-link(href='#') organiser       
            ul.nav#organiserMainNav
              li.active
                a(href='organiserPanel') Pre-registros
              li
                a(href='organiserPanelRecords') Registros 
              li
                a(href='organiserPanelMessages') Mensajes
              li
                a(href='organiserPanelEchos') Echos
    hr
    block content

    block scripts
      script(async, src='javascripts/jquery/jquery.min.js')
      script(async, src='javascripts/bootstrap/bootstrap-collapse.js')
      script(src='javascripts/own/panelControlFunctions.js')

    block exclusive-scripts