extends organiser_layout

block exclusive-stylesheets

block content
	.container-fluid
		.row-fluid
			.span2
				ul.nav.nav-list.sidebar
					li.nav-header
						h4	Echos
					li.active(data-li-name="list")
						a	Lista
					li(data-li-name="newEchos")
						a	Nuevo
			.span9
				.container#list
					h2.text-center	Echos
					table.table.table-hover#echosTable
						tr
							td
								h3	Echos
							td
							td
					.container#adicionalInfoContainer
						button.btn.btn-mini.btn-danger.pull-right	X
						hr
						.container.text-center#modifyFormContainer
						.container.text-center#deleteFormContainer
				.container.text-center.hidden#newEchos
					h2.text-center	Nuevo Echo
					hr
					form.form-horizontal(action='/insertEcho',method='POST')
						.control-group
							label.control-label(for='inputName')	Echo
							.controls
								textarea(maxlength='140',type='text', id='echo', name='echo', placeholder="Echo", required='required')
						button.btn.btn-large.btn-block.btn-info	Enviar
					
block exclusive-scripts