extends organiser_layout

block exclusive-stylesheets

block content
	.container-fluid
		.row-fluid
			.span2
				ul.nav.nav-list.sidebar
					li.nav-header
						h4	Mensajes
					li.active(data-li-name="list")
						a	Lista
			.span9
				.container#list
					h2.text-center	Mensajes
					form.form-search.text-right#filterForm
						input.input-medium.search-query.prepartakersFilter(type='text')
					table.table.table-hover#messagesTable
						tr
							td
								h3	Usuario
							td
								h3	Mensaje
							td
					.container#adicionalInfoContainer
						button.btn.btn-mini.btn-danger.pull-right	X
						hr
						.container.text-center#deleteFormContainer
					
block exclusive-scripts