extends organiser_layout

block exclusive-stylesheets

block content
	.container-fluid
		.row-fluid#list
			.span2
				ul.nav.nav-list.sidebar
					li.nav-header
						h4	Pre-registros
					li.active(data-li-name="list")
						a()	Lista
					li(data-li-name="search")
						a()	Buscar
					li(data-li-name="validate")
						a()	Validar
					li(data-li-name="delete")
						a()	Eliminar
			.span9
				.container#list
					h2.text-center	Pre-registros
					form.form-search.text-right#prepartakersFilterForm
						input.input-medium.search-query.prepartakersFilter(type='text')
					table.table.table-hover#prepartakersTable
						tr
							td
								h3	Nombre
							td
								h3	Apellidos
							td
								h3	Correo
						tr
							td.nameColumn.hi(data-prepartaker-name="Daniel")	Daniel
							td	Rodriguez Rosas
							td	darr.0725@gmail.com
						tr
							td.nameColumn(data-prepartaker-name="Luis")	Luis
							td	Rodriguez Rosas
							td	noesmodaestuestilo@gmail.com
						tr
							td.nameColumn(data-prepartaker-name="Juan")	Juan
							td	Perez Sanchez
							td	juanimonin@gmail.com
				.container.hidden#search
					h2.text-center	Buscar
					table.table.table-hover
						.hero-unit
							h1	Who are you going to register?
				.container.hidden#validate
					h2.text-center	Validar
					table.table.table-hover
						.hero-unit
							h1	Who are you going to register?
				.container.hidden#delete
					h2.text-center	Eliminar
					table.table.table-hover
						.hero-unit
							h1	Who are you going to register?
block exclusive-scripts