extends organiser_layout

block exclusive-stylesheets

block content
	.container-fluid
		.row-fluid#list
			.span2
				ul.nav.nav-list.sidebar
					li.nav-header
						h4	Registros
					li.active(data-li-name="list")
						a	Lista
			.span9
				.container#list
					h2.text-center	Pre-registros
					form.form-search.text-right#filterForm
						input.input-medium.search-query.prepartakersFilter(type='text')	
					table.table.table-hover#partakersTable
						tr
							td
								h3	Nombre
							td	
							td
							td
					.container#adicionalInfoContainer
						button.btn.btn-mini.btn-danger.pull-right	X
						hr
						.container.text-center#modifyFormContainer
						.container.text-center#deleteFormContainer
block exclusive-scripts