extends organiser_layout

block exclusive-stylesheets

block content
	.container-fluid
		.row-fluid
			.span2
				ul.nav.nav-list.sidebar
					li.nav-header
						h4	Mensajes
					li.active(data-li-name="list")
						a	Lista
					li(data-li-name="newMessages")
						a	Nuevos
					li(data-li-name="delete")
						a	Eliminar
			.span9
				.container#list
					h2.text-center	Registros
					table.table.table-hover
						.hero-unit
							h1	Who are you going to register?
				.container.hidden#newMessages
					h2.text-center	Nuevos Mensajes
					table.table.table-hover
						.hero-unit
							h1	Who are you going to search?
				.container.hidden#delete
					h2.text-center	Eliminar
					table.table.table-hover
						.hero-unit
							h1	Who are you going to delete??
					
block exclusive-scripts