extends organiser_layout

block exclusive-stylesheets

block content
	.container-fluid
		.row-fluid#list
			include 	sidebarOrganiserPanel
			.span9
				.container#list
					h2.text-center	Pre-registros
					table.table.table-hover
						.hero-unit
							h1	Who are you going to register?
				.container.hidden#search
					h2.text-center	Buscar
					table.table.table-hover
						.hero-unit
							h1	Who are you going to register?
				.container.hidden#delete
					h2.text-center	Eliminar
					table.table.table-hover
						.hero-unit
							h1	Who are you going to register?

block exclusive-scripts
	script(async, src='javascripts/own/panelControlFunctions.js')