<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Expobatiz</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Le styles -->
<link rel="stylesheet", href="/stylesheets/bootstrap/bootstrap.css">
<style>body {padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */}</style>
<link rel="stylesheet", href="/stylesheets/bootstrap/responsive.css">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="../assets/js/html5shiv.js">
</script>
<![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
<span class="icon-bar">
</span>
</button>
<a class="brand" href="">Expobatiz</a>
<div class="nav-collapse collapse">
<ul class="nav">
<li class="active">
<a href="/">Inicio</a>
</li>
<li>
<a href="/nosotros">Nosotros </a>
</li>
<li>
<a href="/preregistro">Preregistro </a>
</li>
</ul>
</div>
<!--/.nav-collapse -->
</div>
</div>
</div>
.hero-unit.text-center
  h1  Preregistro
  h4  Haz tu preregistro hoy y estarás a un paso de confirmar tu asistencia.
.container.text-center#newPrepartaker
  hr
  form.form-horizontal(action='/insertPrepartaker',method='POST')
    .control-group
      label.control-label(for='inputName')  Nombre
      .controls
        input.input-large(type='text', id='name', name='name', placeholder="Nombre", required='required')
    .control-group
      label.control-label(for='inputAge') Edad
      .controls
        input.input-large(type='number', id='age', name='age', placeholder="Edad", required='required', min=5,max=99)
    .control-group
      label.control-label(for='inputGender')  Género
      .controls
        select(id='gender', name='gender')
          option  Masculino
          option  Femenino
    .control-group
      label.control-label(for='inputMail')  Correo
      .controls
        input.input-large(type='email', id='mail', name='mail', placeholder="Correo", required='required')
    .control-group
      label.control-label(for='inputPhone') Teléfono
      .controls
        input.input-large(type='number', id='phone', name='phone', placeholder="Teléfono", required='required',min=10000000,max=99999999999)
    .control-group
      label.control-label(for='inputAddress') Direccion
      .controls
        input.input-large(type='text', id='address', name='address', placeholder="Dirección", required='required')
    button.btn.btn-large.btn-block.btn-info Enviar
  hr