.span2
	ul.nav.nav-list
		li.nav-header
			h4	Registros
		li.active
			a(href='#list')	Listado
		li
			a(href='#search')	Buscar
		li
			a(href='#validate')	Validar pre-registros
		li
			a(href='#delete')	Eliminar