.span2
	ul.nav.nav-list.sidebar
		li.nav-header
			h4	Pre-registros
		li.active(data-row-code="1")(data-row-name="list")
			a(href='#list')	Listado 
		li(data-row-code="2")(data-row-name="search")
			a(href='#search')	Buscar
		li(data-row-code="3")(data-row-name="delete")
			a(href='#delete')	Eliminar