.span2
	ul.nav.nav-list.sidebar
		li.nav-header
			h4	Pre-registros
		li.active(data-row-name="1")
			a(href='#list')	Listado 
		li(data-row-name="2")
			a(href='#search')	Buscar
		li(data-row-name="3")
			a(href='#delete')	Eliminar