.span2
	ul.nav.nav-list.sidebar
		li.nav-header
			h4	Pre-registros
		li.active(data-li-name="list")
			a()	Listado 
		li(data-li-name="search")
			a()	Buscar
		li(data-li-name="delete")
			a()	Eliminar